MEREditor/xml/modelo-rep.dtd

<!ELEMENT Modelo (Diagrama+)>
<!ELEMENT Diagrama (Representaciones+)>
<!ELEMENT Representaciones (Representacion+)>
<!ELEMENT Representacion (Posicion, Dimension, Representaciones*)>
<!ELEMENT Posicion (#PCDATA)>
<!ELEMENT Dimension (#PCDATA)>

<!ATTLIST Diagrama id ID #REQUIRED>
<!ATTLIST Representacion id ID #REQUIRED>
<!ATTLIST Posicion x CDATA #REQUIRED>
<!ATTLIST Posicion y CDATA #REQUIRED>
<!ATTLIST Dimension ancho CDATA #REQUIRED>
<!ATTLIST Dimension alto CDATA #REQUIRED>
